# Access Password
ACCESS_PASSWORD=
# Set to 'false' to disable persistent unlock (session-only)
PERSIST_PASSWORD=true
# microsoft client trace id (tts)
MICROSOFT_CLIENTTRACEID=76a75279-2ffa-4c3d-8db8-7b47252aa41c
